@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* -- Definition Global Variables -- */
:root {
    --main-font: 'Roboto', sans-serif;
    --main-font-size: 1em;
    --title-font: 'Kalam', cursive;
    --main-color: #3D4849;
    --secondary-color: #66AB8C;
    --main-bg-color: #FFFADB;
    --secondary-bg-color: #6EC4DB;
    --third-bg-color: #FA7C92;
    --third-bg-color-darken: #fd7a90bb;
}

@media screen and (max-width: 992px) {
    :root {
        --main-font-size: 11px;
    }
    p {
        line-height: 1.1;
    }
}

/* -- All Pages Style -- */
* {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--secondary-color);
    margin: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--main-bg-color);
}

.btn-primary {
    background-color: var(--third-bg-color);
    border-color: var(--third-bg-color);
}

.btn-primary:focus {
    background-color: var(--third-bg-color-darken);
    border-color: var(--third-bg-color-darken);
}

.btn-primary:hover {
    background-color: var(--third-bg-color-darken);
    border-color: var(--third-bg-color-darken);
}

.title-font {
    font-family: var(--title-font);
}

.navbar-toggler {
    margin-left: auto;
}

/* -- Photos Credits -- */

.photos {
    position: relative;
}

.credits {
    background-color: var(--main-color);
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--main-bg-color);
    font-size: 0.8em;
    margin: 0;
    border-radius: .3rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.credits a {
    color: currentColor;
    font-weight: 700;
}

/* -- Header Style -- */

header {
    height: 250px;
}

header > .header-top {
    height: 180px;
}

.header-top > div {
    align-self: center;
}

.navbar {
    z-index: 3;
}

.navbar-brand img {
    max-width: 60px;
}

header > .header-top > .logo img {
    max-width: 180px;
}

header > .header-top .header-icon{
    width: 30px;
}

@media screen and (max-width: 576px) {

    header > .header-top > .logo img {
        max-width: 100px;
    }

    header > .header-top .header-icon{
        width: 20px;
    }
}

header > .header-nav {
    background-color: var(--secondary-bg-color);
    height: 70px;
}

header > .header-nav > nav {
    background-color: var(--secondary-bg-color);
    padding: 0;
}

header > .header-nav > nav a{
    height: 70px;
    font-weight: 700;
    line-height: 55px;
}

header > .header-nav > nav h3 {
    color: var(--main-color);
    line-height: 60px;
}

header > .header-nav > nav .nav-link {
    font-family: var(--title-font);
    font-size: 1.4em;
}

header > .header-nav > nav .active {
    background-color: var(--third-bg-color);
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 1px 1px 2px var(--main-color);
}


/* -- Footer Style -- */

footer {
    height: 200px;
}

.footer-top {
    background-color: var(--secondary-bg-color);
    height: 160px;
}

.footer-top .col-sm {
    align-self: center;
}

.footer-top .col {
    align-self: center;
}

.footer-top address h4, .footer-top address h5 {
    color: var(--main-color);
}

.footer-top .footer-nav-link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--title-font);
    font-size: 1.5em;
}

.footer-copyright {
    background-color: var(--third-bg-color);
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .footer-copyright p {
        line-height: 40px;
    }
}

.footer-top img {
    max-width: 150px;
}

.footer-top #logo-massy {
    max-width: 250px;
}

@media screen and (max-width : 768px) {
    .footer-top .footer-nav-link,
    .footer-top address h4,
    .footer-top address h5 {
        font-size: 1.1em;
    }

    .footer-top img {
        max-width: 100px;
    }

    .footer-top #logo-massy {
        max-width: 150px;
    }
}

@media screen and (max-width : 575px) {
    .footer-nav {
        display: none;
    }

    .footer-top img {
        max-width: 60px;
    }

    .footer-top #logo-massy {
        max-width: 100px;
    }
}

/* -- Page Accueil Content Style -- */


#presentation img {
    width: 100%;
}


/* -- Page Association Content Style -- */


/* -- Page Activités Content Style -- */

.activites .card {
    padding: 0;
}

.card-img-top:hover {
    -webkit-filter: grayscale(100%);
	filter: grayscale(50%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* -- Page Evénements Content Style -- */

.evenements .card {
    padding: 0;
}

.date {
    text-align: end;
}